/* Login.css */

.login-bg {
    min-height: 100vh;
    background: #181c24;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: #232837;
    color: #fff;
    width: 350px;
    padding: 2rem 2rem 1.5rem 2rem;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card img {
    width: 60px;
    margin-bottom: 1rem;
    user-select: none;
    pointer-events: none;
}

.login-card h4 {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-card small {
    color: #b0b8c1;
    margin-bottom: 1.5rem;
    display: block;
}

.login-card label {
    color: #b0b8c1;
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
}

.login-card input,
.login-row input {
    width: 100%;
    padding: 0.75rem 1rem;
    background: #3a4256;
    /* Fondo más visible */
    border: 1px solid transparent;
    color: #fff;
    font-size: 1rem;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    transition: border 0.2s, background 0.2s;
}

.login-card input:focus,
.login-row input:focus {
    background: #232837;
    border: 1px solid #007788;
}

.login-card button[type="submit"] {
    width: 100%;
    background: #007788;
    color: #181c24;
    border: none;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    transition: background 0.2s;
}

.login-card button:disabled {
    background: #b0b8c1;
    color: #232837;
    cursor: not-allowed;
}

/* Para inputs horizontales */
.login-row {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.login-row label {
    display: block;
    min-width: 90px;
    margin-bottom: 0.25rem;
    color: #b0b8c1;
    font-size: 0.95rem;
    text-align: left;
}

.login-row .input-icon {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    color: #00c3ff;
}

input::-ms-reveal {
    display: none;
}

input::-ms-clear {
    display: none;
}

.input-password-wrapper {
    display: flex;
}

.input-password-wrapper input {
    margin-bottom: 0;
    box-sizing: border-box;
}

.login-card button[type="button"] {
    width: 20%;
    background: #007788;
    color: #181c24;
    border: none;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    transition: background 0.2s;
}

.eye-btn {
    background: none;
    border: none;
    color: #b0b8c1;
    cursor: pointer;
    outline: none;
}

.eye-btn:active,
.eye-btn:focus {
    color: #00c3ff;
}